.page {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

section.introduction .grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem; /* espace entre les cards, ajuste selon ton besoin */
  padding: 1rem;
  width: 100%;
  height: auto;

}

section.introduction .grid a.btn{
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1.5rem;
  color:black;
  height:4rem;
  width:20rem;
  
  border-radius: 0.5rem;
  background-color: #f5f5f5;
}

section.introduction .grid a.btn:hover{
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1.5rem;
  color:white;
  height:4rem;
  
  border-radius: 0.5rem;
  background-color:red;
}

section.films {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; /* alignement au centre ou sur toute la largeur */
  
  width: 100%;
  height: 100vh;
}

div.guest-zone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 50%;
  background-color: beige;
}

div.scroll-zone {
  display: flex;
  flex-direction: row; /* Assure que les éléments sont alignés horizontalement */
  justify-content: flex-start;
  align-items: space-between; /* Assure que les éléments prennent toute la hauteur du conteneur */
  
  width: 100%; /* ou une largeur spécifique si nécessaire */

  overflow-x:auto; /* Permet le scroll horizontal */
  overflow-y: hidden;
  flex-wrap: nowrap;

  scrollbar-width: large; /* Pour Firefox */
  gap: 4rem; /* Espace entre les éléments (remplace margin dans .card) */

  padding:1rem 2rem;
}

div.card {
  width: 40rem;
  height: 100%; /* Assurez-vous que la hauteur ne dépasse pas celle du parent */
  border-radius: 0.5rem;
}

div.card h2{
  width:100%;
  height:4rem;
}




/* A METTRE DANS UN FICHIER ... */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
